.info{
    margin-top: 40px ;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  .info h1{
    color:rgb(7, 7, 118);
    
  }
  .info button{
    border: 2px solid blue;
    color: white;
    background-color: blue;
  }
  nav{
    box-shadow:0 0 20px rgba(189, 213, 246, 0.5);
    color: #eee;
  }
  nav.img{
    border-radius: 30px;
  }
  .container{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
  
    margin: 10px 10px;
    padding: 10px 10px;
    box-shadow:0 0 20px rgba(78, 137, 189, 0.5);
    
    background: #fff;
  
  }
  h1{
    color:rgb(7, 7, 118);
    font-family: 'Playfair Display', serif;
  }
  h2{
    color:rgb(7, 7, 118);
    font-family: 'Playfair Display', serif;
  }
  P{
    
    font-family: 'Playfair Display', serif;
  }